* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: helvetica;
  font-size: 15px;
  line-height: 1.3;
}
.stop-name{
  padding: 100px 0 15px 15px;
  background-color: #EFEFF4;
}
.container {
  margin: 0 auto;
  width: 360px;
}
.back {
  float: left;
}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 360px;
  background-color: #F6F6F7;
  border: 1px solid grey;
  /*background-image: url(/images/UI_Bar.PNG);*/

}



.emphasis {
  font-weight: bold;
}
.destination {
  background-color: #FFF;
  padding: 10px;
  border: 1px solid grey;
  width: 360px;
}


.line {
  margin: 1%;
  width: 17%;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 40px;
  float: left;
}

.destination {
  float: left;
}

.frequency {
  color: green;
  float: right;
}
.frequency-NA {
  color: red;
  float: right;
}
.frequency-resumes {
  color: grey;
  float: right;
}


h1 {
  font-size: 10px;
}
h2 {
  font-weight: bold;
}
h3 {
  background-color: blue;
}
h5 {
  font-size: 10px;
}
h6 {
  background-color: grey;
}
.content {
  padding: 10px;
}
